/* Overall Stuff */

#body{
    display: block;
    box-sizing: border-box;
    background:url(Assets/blank-blue-953214.jpg) repeat-y, fixed, rgb(77, 85, 133);
    background-size: 155%;
}

ul{
    text-align: left;
    list-style: none;
}

li{
    float: left;
    border: 2px;
    border-color: white;
    text-decoration: none;
}

.nav-link{
    text-decoration: none;
    color: rgb(218, 150, 47);
}

.nav-link:hover{
    text-decoration: none;
    color: rgb(48, 120, 138);
}

.nav-link disabled:hover{
    color: gray;
}

.clear{
    clear: both;
    font-size: 1%;
}



#navbar{
    width: 90%;
    height: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    background-color: white;
    font-size: 32px;
}

/* Jumbrotron Header */

header{
    width: 90%;
    padding-top: 2%;
    background: white;
    margin-left: auto;
    margin-right: auto;
    
}

.header-clear{
    clear:both;
}


.jumbotron-jumbotron-fluid{
    background: rgb(24, 50, 88) url("Assets/Leaf\ in\ Lake.jpg") no-repeat;
    background-position-y: -1400px;
    background-position-x: -600px;
    display: block;
    box-sizing: border-box;
   color: white;
   text-shadow: 25px black;
   height: 300px;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
 
}

#title{
    width: 400px;
    height: 300px;
    background-color: rgba(177, 177, 177, 0.678);
}

.display-4{
    float: left;
    position: relative;
    text-align: left;
    color: white;
    text-shadow: 25px black;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 0 5%;
    text-shadow: 2px 1px 2px rgba(63, 63, 63, 0.774);
}

.lead{
    float: left;
    position: relative;
    text-shadow: 2px 1px 1px rgb(63, 63, 63);
    color: white;
    text-shadow: 25px black;
    margin: 0 0 0 3em;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 1% 5%;
}

.buttonLinks{
    float: left;
    position: relative;
    margin: 0 0 0 3em;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 5% 0 1% 5%;
}

.linkedIn{
    position: relative;
    float: left;
    margin-left: 1em;
}

/* Biography Section */



#bio{
    width: 90%;
    max-height: 3000px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(115, 155, 216);
    display: block;
    box-sizing: border-box;
    background: white;
}

.bioBox{
    float:left;
    max-width: 48%;
    max-height: 1500px;
    background: white;
    margin-right: 1em;
    
}

.bioSection:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .bioBox {
        width: 100%;
        font-size: 32px;
    }
}

.bioImg{
    background: url(Assets/1st_headshot.png);
    float: left;
    width: 50%;
    background: white;
}

.bioHeader{
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 72px; 
    max-width: 100%;
    height: auto;
    margin-left: 1em;
    margin-right: 0;
    padding-top: 50px;
    background: white;

}

.bioLead{
    position: relative;
    max-width: 80%;
    height: auto;
    font-size: 32px;
    margin-left: 2.3em;
    margin-top: 2.5sem;
    margin-right: 0;
    background: white;
}

.bioText{
    position: relative;
    max-width: 100%;
    max-height: 700px;
    font-size: 32px;
    margin-left: 2.3em;
    margin-top: 3em;
    margin-right: 0;
    background: white;   
}



/* Vimeo Section */

#highlightVideos{
    width: 90%;
    max-height: 2000px;
    margin-left: auto;
    margin-right: auto;
    background: radial-gradient(rgb(115, 155, 216),rgb(56, 76, 105));
    color: white;
}


.highlights{
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 72px; 
    max-width: 50%;
    height: 150px;
    padding-top: 50px;
    margin-left: 1em;
    margin-right: 0;
    
  
    
}

.videoText{
    position: relative;
    width: 100%;
    height: 150px;
    margin-top: 1em;
}

.highlightText{
    position: absolute;
    width: 100%;
    height: 100px;
    font-size: 32px;
    margin-left: 2.3em;
    margin-right: 0;
    
}

.vimeo-link{
    text-decoration: none;
    color: rgb(255, 181, 96);
}

.vimeo-link:hover{
    text-decoration: none;
    color: rgb(37, 211, 255);
}


.block{
    float: left;
    max-width: 60%;
    margin-left: 3.8em;
    margin-bottom: 3em;
}

.blocks:after{
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .block {
        width: 100%;
    }
}

/* .block2{
    position: relative;
    float: left;
    max-width: 37%;
    height: auto;
    font-size: 32px;
    margin-left: 2.3em;
    margin-top: 5em;
    margin-right: 0;

} */

.videoDescription{
    font-size: 32px;
    max-width: 100%;
    height: auto;
}

/*Coding Section*/

#coding{
    width: 90%;
    max-height: 1500px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    color: rgb(115, 155, 216);
}

.codingHeader{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 72px; 
}

.codingBox{
    padding: 2% 8% 0 4%;
}

.codingText{
    max-width: 95%;
    font-size: 32px;
}

.line{
    background: rgb(115, 155, 216);
    height: 5px;
    margin: 0 0 0 0;
    position: relative;
    top: 16px;
}

/* .codingPhotos{
    float: left;
    position: relative;
    top: 15px;
} */


.card{
    float:left;
    max-width: 33.33%;
    max-height: 1500px;
    background: white;
    margin: 3em 3.3em 3em 4em;
}

.rowCard:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
}

.card-body{
    position: center;
    width: 300px;
}

.btn-code {
    background: #ffd79c;
    background-image: -webkit-linear-gradient(top, #ffd79c, #e6a14c);
    background-image: -moz-linear-gradient(top, #ffd79c, #e6a14c);
    background-image: -ms-linear-gradient(top, #ffd79c, #e6a14c);
    background-image: -o-linear-gradient(top, #ffd79c, #e6a14c);
    background-image: linear-gradient(to bottom, #ffd79c, #e6a14c);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    -webkit-box-shadow: 2px 2px 4px #7e87c2;
    -moz-box-shadow: 2px 2px 4px #7e87c2;
    box-shadow: 2px 2px 4px #7e87c2;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn-code:hover {
    background: #fab376;
    background-image: -webkit-linear-gradient(top, #fab376, #ff8c00);
    background-image: -moz-linear-gradient(top, #fab376, #ff8c00);
    background-image: -ms-linear-gradient(top, #fab376, #ff8c00);
    background-image: -o-linear-gradient(top, #fab376, #ff8c00);
    background-image: linear-gradient(to bottom, #fab376, #ff8c00);
    text-decoration: none;
    color: white;
  }



/* Contact Form */


#contact{  
    width: 90%;
    padding: 3% 0 4% 0;
    background: radial-gradient(rgb(115, 155, 216),rgb(56, 76, 105));
    margin-left: auto;
    margin-right: auto;
}

.contactBox{
    padding: 2% 8% 0 8%;
}

.text-center-text-uppercase{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 72px;
    color: white;
    
}

label{
    color: white;
}

input{
    color:white;
}

.row{
    padding-top: 10%;
}


/* Bottom BAr */

#bottomBar{
    width: 90%;
    height: 50px;
    background: linear-gradient(to right, rgb(115, 155, 216),rgb(56, 76, 105));
    margin-left: auto;
    margin-right: auto;
    text-align:center;
 }

.bottomText{
    text-decoration: none;
    text-align: center;
    list-style: none;
}

#nav-Top{
    text-decoration: none;
    text-align: center;
    list-style: none;
}

.nav-link-Top{
    text-align:center;
    list-style:none;
}
