/* Overall Stuff */

@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

#body{
    display: block;
    box-sizing: border-box;
    background:url(Assets/blank-blue-953214.jpg) repeat-y, fixed, rgb(77, 85, 133);
    background-size: 155%;
}

ul{
    text-align: left;
    list-style: none;
    padding: none;
    max-width: 350px;
}

li{
    float: left;
    display: block;
    box-sizing: block;
}

/* NAVBAR */

.nav.justify-content-center{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.nav-link{
    text-decoration: none;
    color: rgb(218, 150, 47);
    text-align:center;
}

.nav-item{
    text-align:center;
}

.nav-link:hover{
    text-decoration: none;
    color: rgb(48, 120, 138);
}

.nav-link disabled:hover{
    color: gray;
}

.clear{
    clear: both;
    font-size: 1%;
}



#navbar{
    width: 90%;
    height: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    background-color: white;
    font-size: 32px;
}

/* Jumbrotron Header */

header{
    min-height: 300px;
    max-height: 900px;
    width: 90%;
    padding-top: 2%;
    background: white;
    margin-left: auto;
    margin-right: auto;
    
}

.header-clear{
    clear:both;
}


.jumbotron-jumbotron-fluid{
    background: rgb(24, 50, 88) url("Assets/Leaf\ in\ Lake.jpg") no-repeat center;
    background-position-y: -1400px; 
    background-position-x: -600px;
   color: white;
   text-shadow: 25px black;
   min-height: 300px;
   max-height: 600px;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
 
}

#title{
    min-width: 253px;
    max-width: 400px;
    min-height: 300px;
    max-height: 900px;
    background-color: rgba(177, 177, 177, 0.678);
}


.display-4{
    position: relative;
    text-align: left;
    color: white;
    text-shadow: 25px black;
    max-width: 400px;
    max-height: 600px;
    margin-left: .3em;
    text-shadow: 2px 1px 2px rgba(63, 63, 63, 0.774);
}

.lead{
    position: relative;
    text-shadow: 2px 1px 1px rgb(63, 63, 63);
    color: white;
    text-shadow: 25px black;
    margin: 0 0 0 3em;
    max-width: 400px;
    max-height: 600px;
    margin-left: 1em;
    margin-right: auto;
}

.buttonLinks{
    position: relative;
    max-width: 350px;
    margin-left: .2em;
    margin-right: auto;
    right: 40px;
    padding: none;
    min-height: 100px;
    max-height: 600px;
    margin-bottom: 0;
    margin-top: 1em;
}

.linkedIn{
    position: relative;
    margin-left: 1em;

}

@media screen and (max-width: 810px) {
    #title{
        max-width: 100%;
        min-height: 300px;
        max-height: 900px;
        background-color: rgba(177, 177, 177, 0.678);
    }

    .display-4{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .lead{
        font-size: 20px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 1em .5em 0 .5em;
    }

    .buttonLinks{
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        left: 1px;
        width: 300px;
    }
}

/* Biography Section */



#bio{
    width: 90%;
    max-height: 3000px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(115, 155, 216);
    display: block;
    box-sizing: border-box;
    background: white;
}

.bioBox{
    float:left;
    min-width: 250px;
    max-width: 1000px;
    max-height: 3000px;
    background: white;
    margin-right: 2.3em;
    font-size: 32px;
    
}

.bioSection:after {
    content: "";
    display: table;
    clear: both;
}

.bioHeader{
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 72px; 
    max-width: 100%;
    height: auto;
    margin-left: .5em;
    margin-right: 0;
    padding-top: 50px;
    background: white;

}

.bioLead{
    position: relative;
    max-width: 80%;
    height: auto;
    margin-left: 1.3em;
    margin-top: 2.5sem;
    margin-right: 0;
    background: white;
}

.bioText{
    position: relative;
    max-width: 80%;
    max-height: 700px;
    margin-left: 1.3em;
    margin-top: 3em;
    margin-right: 0;
    background: white;   
}

.bioImg{
    max-width: 550px;
}

@media screen and (max-width: 810px) {
    .bioBox {
        width: 100%;
        font-size: 15px;
        text-align: justify;
        padding: 1em 1em 0 2em;
        
    }

    .bioHeader{
        font-size: 50px;
        text-align: center;
        margin: 0 0 50px 0;
    
    }

    .bioImg{
        min-width: 100px;
        max-width: 300px;
    }
}

/* Vimeo Section */

#highlightVideos{
    width: 90%;
    max-height: 2000px;
    margin-left: auto;
    margin-right: auto;
    background: radial-gradient(rgb(115, 155, 216),rgb(56, 76, 105));
    color: white;
}


.highlights{
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 72px; 
    max-width: 100%;
    min-height: 150px;
    max-height: 300px;
    padding-top: 50px;
    margin-left: 1em;
    margin-right: 0;
    
  
    
}

.videoSize{
    width: 100%;
}

.videoText{
    position: relative;
    width: 100%;
    height: 150px;
    margin-top: 1em;
}

.highlightText{
    position: absolute;
    width: 100%;
    height: 100px;
    font-size: 32px;
    margin-left: 2.3em;
    margin-right: 0;
    
}

.vimeo-link{
    text-decoration: none;
    color: rgb(255, 181, 96);
}

.vimeo-link:hover{
    text-decoration: none;
    color: rgb(37, 211, 255);
}


.block{
    float: left;
    max-width: 60%;
    margin-left: 3.8em;
    margin-bottom: 3em;
}

.blocks:after{
    content: "";
    display: table;
    clear: both;
}

iframe{
    width: 640px;
    height: 360px;
}
/* .block2{
    position: relative;
    float: left;
    max-width: 37%;
    height: auto;
    font-size: 32px;
    margin-left: 2.3em;
    margin-top: 5em;
    margin-right: 0;

} */

.videoDescription{
    font-size: 32px;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 810px) {

    .highlights{
        text-align: center;
        font-size: 50px;
        margin: 0;
    }

    h2{
        text-align: center;
        font-size: 50px;
    }

    .videoDescription{
        font-size: 16px;
        text-align: center;
        margin: 0;

    }

    .blocks{
        width: 300px;
        margin: 0 auto 0 auto;
        align-items: center;
        align-content: center;
        box-align: center;
    }

    .block {
        float: left;
        max-width: 810px;
        margin: 0 auto 0 auto;

    }

    iframe{
        position: relative;
        max-width: 300px;
        margin: 0 .5em 0 .3em;
       
    }

    .highlightText{
        font-size: 32px;
        text-align: center;
        min-width: 300px;
        max-width: 810px;
        margin: 0 0 0 0;
    }
}

/*Coding Section*/

#coding{
    width: 90%;
    max-height: 2000px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    color: rgb(115, 155, 216);
}

.codingHeader{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 72px; 
}

.codingBox{
    padding: 2% 8% 0 4%;
}

.codingText{
    max-width: 95%;
    font-size: 32px;
}

.line{
    background: rgb(115, 155, 216);
    height: 5px;
    margin: 0 0 0 0;
    position: relative;
    top: 16px;
}

.card{
    float: left;
    position: relative;
    max-width: 33.33%;
    max-height: 1500px;
    background: white;
    margin: 3em 3.3em 3em 4em;
}

.rowCard:after {
    content: "";
    display: table;
    clear: both;
}

.card-body{
    position: center;
    width: 300px;
}

.btn-code {
    background: #ffd79c;
    background-image: -webkit-linear-gradient(top, #ffd79c, #e6a14c);
    background-image: -moz-linear-gradient(top, #ffd79c, #e6a14c);
    background-image: -ms-linear-gradient(top, #ffd79c, #e6a14c);
    background-image: -o-linear-gradient(top, #ffd79c, #e6a14c);
    background-image: linear-gradient(to bottom, #ffd79c, #e6a14c);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    -webkit-box-shadow: 2px 2px 4px #7e87c2;
    -moz-box-shadow: 2px 2px 4px #7e87c2;
    box-shadow: 2px 2px 4px #7e87c2;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn-code:hover {
    background: #fab376;
    background-image: -webkit-linear-gradient(top, #fab376, #ff8c00);
    background-image: -moz-linear-gradient(top, #fab376, #ff8c00);
    background-image: -ms-linear-gradient(top, #fab376, #ff8c00);
    background-image: -o-linear-gradient(top, #fab376, #ff8c00);
    background-image: linear-gradient(to bottom, #fab376, #ff8c00);
    text-decoration: none;
    color: white;
  }


  @media screen and (max-width: 810px) {

    .codingHeader{
        font-size: 50px;
        text-align: center;
    }

    .codingText{
        font-size: 20px;
        text-align: justify;
        padding: 1em 1em 0 2em;
    }

    .card {
        float: left;
        position: relative;
        min-width: 100px;
        max-width: 280px;
        margin: 3em 0 1em 2.5em;
    }

    .btn-code{
        font-size: 15px;
    }
  }
/* Contact Form */


#contact{  
    width: 90%;
    padding: 3% 0 4% 0;
    background: radial-gradient(rgb(115, 155, 216),rgb(56, 76, 105));
    margin-left: auto;
    margin-right: auto;
}

.contactBox{
    padding: 2% 8% 0 8%;
}

.text-center-text-uppercase{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 72px;
    color: white;
    
}

label{
    color: white;
}

input{
    color:white;
}

.row{
    padding-top: 10%;
}

@media screen and (max-width: 810px) {
 .text-center-text-uppercase{
     font-size: 50px;
 }
}

/* Bottom BAr */

#bottomBar{
    width: 90%;
    height: 50px;
    background: linear-gradient(to right, rgb(115, 155, 216),rgb(56, 76, 105));
    margin-left: auto;
    margin-right: auto;
    text-align:center;
 }

.bottomText{
    text-decoration: none;
    text-align: center;
    list-style: none;
}

#nav-Top{
    text-decoration: none;
    text-align: center;
    list-style: none;
}

.nav-link-Top{
    text-align:center;
    list-style:none;
}